@use 'variaveis';
@use 'hero';
@use 'shows';
@use 'plans';
@use 'available-devices';
@use 'faq';
@use 'footer';
@use 'header';

@font-face {
    font-family: Poppins;
    src: url(../../assets/fonts/Poppins-Regular.ttf);
    font-weight: 400;
  }
  
  @font-face {
    font-family: Poppins;
    src: url(../../assets/fonts/Poppins-Bold.ttf);
    font-weight: 700;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    list-style: none;
}
body {
    background-color: variaveis.$bgColor;
}

@mixin text ($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$colorMainText;
}

@mixin title ($fontSize: 40px) {
    @include text($fontSize);
    color: variaveis.$colorSecText;
}

.text--big {
    @include text(18px);

    @media (max-width: 768px) {
        @include text(15px);
    }
}

.text {
    @include text;

    @media (max-width: 768px) {
        @include text(14px);
    }
}


.text--small {
    @include text(12px);

    @media (max-width: 768px) {
        @include text(11px);
    }
}

.link-text {
    @include text(18px);
    color: variaveis.$colorSecText;
    text-decoration: underline;
}

.title--big {
    @include title(44px);

    @media (max-width: 768px) {
        @include title(26px);
    }
}

.title {
    @include title;

    @media (max-width: 768px) {
        @include title(24px);
    }
}

.title--small {
    @include title(24px);

    @media (max-width: 768px) {
        @include title(22px);
    }
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    font-size: 18px;
    color: variaveis.$colorSecText;
    background-color: variaveis.$bgColorButton;
    text-transform: uppercase;
    border-radius: 4px;
    text-decoration: none;
    padding: 8px 14px;
    letter-spacing: 1px;
    border: 1px solid variaveis.$bgColorButton;
    cursor: pointer;

    &:hover {
        background-color: lighten(variaveis.$bgColorButton, 3%);
    }

    &--secondary {
        background-color: variaveis.$bgSecButton;
        border-color: variaveis.$bgSecButton;

        &:hover {
            background-color: lighten(variaveis.$bgSecButton, 3%);
        }
    }

    &--dark {
        background-color: rgba(variaveis.$bgDarkButton, 0.8);
        border-color: variaveis.$colorSecText;

        &:hover {
            background-color: variaveis.$colorSecText;
            color: variaveis.$bgColor;
        }
    }
}

.image-text {
    padding: 5.6vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    @media (max-width: 768px) {
        display: block;
    }

    img {
        max-width: 100%;
    }

    &__text_container {
        padding: 0 2vw;

        h2 {
            margin-bottom: 24px;
        }
    }

    &--image-full-width {
        display: block;
        position: relative;

        img {
            width: 100%;
        }

        &__text_container {
            position: absolute;
            top: 0;
            left: 50%;
            height: 100%;
            width: calc(50% - 5.6vw);
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media (max-width: 768px) {
                position: relative;
                left: 0;
                width: 100%;
            }
        }
    }
}

